-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: arsipmhs
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `achievement_attachments`
--

DROP TABLE IF EXISTS `achievement_attachments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `achievement_attachments` (
  `id` varchar(36) NOT NULL COMMENT 'UUID v4',
  `achievement_id` varchar(36) NOT NULL COMMENT 'FK to achievements',
  `file_name` varchar(255) NOT NULL COMMENT 'Original filename',
  `file_type` varchar(50) NOT NULL COMMENT 'MIME type (e.g., application/pdf)',
  `file_size` int(11) NOT NULL COMMENT 'File size in bytes',
  `file_path` varchar(500) NOT NULL COMMENT 'URL or server path to file',
  `uploaded_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT 'Upload timestamp',
  PRIMARY KEY (`id`),
  KEY `idx_achievement_id` (`achievement_id`),
  CONSTRAINT `achievement_attachments_ibfk_1` FOREIGN KEY (`achievement_id`) REFERENCES `achievements` (`id`) ON DELETE CASCADE,
  CONSTRAINT `check_file_size` CHECK (`file_size` > 0)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Achievement file attachments metadata';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `achievement_attachments`
--

LOCK TABLES `achievement_attachments` WRITE;
/*!40000 ALTER TABLE `achievement_attachments` DISABLE KEYS */;
INSERT INTO `achievement_attachments` VALUES ('5bfa90808d7d5f113c487006eead11c68a44','0b85bf4208ab477fb5b5285773357eb133c6','9a0f69bf-f017-463f-b1e8-c5d6233f79da.png','image/png',1134499,'achievements/0b85bf4208ab477fb5b5285773357eb133c6/5bfa90808d7d5f113c487006eead11c68a44_9a0f69bf-f017-463f-b1e8-c5d6233f79da.png','2026-02-23 06:11:29');
/*!40000 ALTER TABLE `achievement_attachments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `achievements`
--

DROP TABLE IF EXISTS `achievements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `achievements` (
  `id` varchar(36) NOT NULL COMMENT 'UUID v4',
  `student_id` varchar(36) NOT NULL COMMENT 'FK to students',
  `category` varchar(50) NOT NULL COMMENT 'Achievement category',
  `subcategory` varchar(50) NOT NULL COMMENT 'Achievement subcategory',
  `achievement_type` enum('academic','non_academic') NOT NULL DEFAULT 'non_academic',
  `title` varchar(255) NOT NULL COMMENT 'Achievement title',
  `description` text DEFAULT NULL COMMENT 'Detailed description',
  `tanggal` date NOT NULL COMMENT 'Achievement date',
  `lokasi` varchar(255) DEFAULT NULL COMMENT 'Location',
  `penyelenggara` varchar(255) DEFAULT NULL COMMENT 'Organizer/institution',
  `tingkat` enum('lokal','regional','nasional','internasional') DEFAULT NULL COMMENT 'Achievement level',
  `peringkat` varchar(100) DEFAULT NULL COMMENT 'Ranking/award (e.g., Juara 1, Finalist)',
  `verified` tinyint(1) DEFAULT 0 COMMENT 'Admin verified',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT 'Record creation',
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT 'Last update',
  PRIMARY KEY (`id`),
  KEY `idx_category` (`category`),
  KEY `idx_subcategory` (`subcategory`),
  KEY `idx_student_id` (`student_id`),
  KEY `idx_tanggal` (`tanggal`),
  KEY `idx_student_category` (`student_id`,`category`),
  KEY `idx_achievements_date` (`tanggal`),
  KEY `idx_achievement_type` (`achievement_type`),
  CONSTRAINT `achievements_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Non-academic achievements';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `achievements`
--

LOCK TABLES `achievements` WRITE;
/*!40000 ALTER TABLE `achievements` DISABLE KEYS */;
/*!40000 ALTER TABLE `achievements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admins`
--

DROP TABLE IF EXISTS `admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admins` (
  `id` varchar(36) NOT NULL COMMENT 'FK to users.id',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT 'Admin creation date',
  PRIMARY KEY (`id`),
  CONSTRAINT `admins_ibfk_1` FOREIGN KEY (`id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Admin role mapping';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admins`
--

LOCK TABLES `admins` WRITE;
/*!40000 ALTER TABLE `admins` DISABLE KEYS */;
INSERT INTO `admins` VALUES ('admin-001','2026-02-20 04:40:09');
/*!40000 ALTER TABLE `admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chart_sync_log`
--

DROP TABLE IF EXISTS `chart_sync_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chart_sync_log` (
  `menu_section` varchar(80) NOT NULL COMMENT 'e.g. student_achievements, study_period',
  `last_synced_at` timestamp NULL DEFAULT NULL COMMENT 'Last sync from master (Asia/Jakarta)',
  `synced_by` varchar(36) DEFAULT NULL COMMENT 'FK users.id',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`menu_section`),
  KEY `idx_last_synced` (`last_synced_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Last sync time per dashboard section';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chart_sync_log`
--

LOCK TABLES `chart_sync_log` WRITE;
/*!40000 ALTER TABLE `chart_sync_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `chart_sync_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluation_aspects`
--

DROP TABLE IF EXISTS `evaluation_aspects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evaluation_aspects` (
  `id` varchar(36) NOT NULL COMMENT 'UUID-like id',
  `code` varchar(50) NOT NULL COMMENT 'Stable aspect code',
  `name` varchar(255) NOT NULL COMMENT 'Aspect display label',
  `sort_order` int(11) NOT NULL COMMENT 'Display order',
  `is_active` tinyint(1) DEFAULT 1 COMMENT 'Aspect active flag',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT 'Creation timestamp',
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT 'Last update timestamp',
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  KEY `idx_aspects_active_order` (`is_active`,`sort_order`),
  CONSTRAINT `check_aspect_sort_order` CHECK (`sort_order` > 0)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Master list of evaluation aspects';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluation_aspects`
--

LOCK TABLES `evaluation_aspects` WRITE;
/*!40000 ALTER TABLE `evaluation_aspects` DISABLE KEYS */;
/*!40000 ALTER TABLE `evaluation_aspects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluation_invitations`
--

DROP TABLE IF EXISTS `evaluation_invitations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evaluation_invitations` (
  `id` varchar(36) NOT NULL COMMENT 'UUID-like id',
  `evaluation_id` varchar(36) NOT NULL COMMENT 'FK to evaluations',
  `student_id` varchar(36) NOT NULL COMMENT 'FK to students (alumni target)',
  `access_token` varchar(128) NOT NULL COMMENT 'Secure survey access token',
  `first_sent_at` timestamp NULL DEFAULT NULL COMMENT 'First invitation sent timestamp',
  `last_sent_at` timestamp NULL DEFAULT NULL COMMENT 'Latest invitation/reminder sent timestamp',
  `send_count` int(11) NOT NULL DEFAULT 0 COMMENT 'How many times invitation/reminder sent',
  `submitted_at` timestamp NULL DEFAULT NULL COMMENT 'Survey submission timestamp',
  `created_by` varchar(36) DEFAULT NULL COMMENT 'FK to users (admin sender/creator)',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT 'Creation timestamp',
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT 'Last update timestamp',
  PRIMARY KEY (`id`),
  UNIQUE KEY `access_token` (`access_token`),
  UNIQUE KEY `unique_evaluation_student` (`evaluation_id`,`student_id`),
  KEY `created_by` (`created_by`),
  KEY `idx_invitations_evaluation` (`evaluation_id`),
  KEY `idx_invitations_student` (`student_id`),
  KEY `idx_invitations_submitted` (`submitted_at`),
  KEY `idx_invitations_reminder_due` (`submitted_at`,`last_sent_at`),
  KEY `idx_invitations_eval_submission` (`evaluation_id`,`submitted_at`),
  CONSTRAINT `evaluation_invitations_ibfk_1` FOREIGN KEY (`evaluation_id`) REFERENCES `evaluations` (`id`) ON DELETE CASCADE,
  CONSTRAINT `evaluation_invitations_ibfk_2` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`) ON DELETE CASCADE,
  CONSTRAINT `evaluation_invitations_ibfk_3` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `check_send_count` CHECK (`send_count` >= 0)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Invitation mapping between evaluation and alumni';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluation_invitations`
--

LOCK TABLES `evaluation_invitations` WRITE;
/*!40000 ALTER TABLE `evaluation_invitations` DISABLE KEYS */;
/*!40000 ALTER TABLE `evaluation_invitations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluation_response_ratings`
--

DROP TABLE IF EXISTS `evaluation_response_ratings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evaluation_response_ratings` (
  `id` varchar(36) NOT NULL COMMENT 'UUID-like id',
  `response_id` varchar(36) NOT NULL COMMENT 'FK to evaluation_responses',
  `aspect_id` varchar(36) NOT NULL COMMENT 'FK to evaluation_aspects',
  `score` tinyint(3) unsigned NOT NULL COMMENT 'Rating score: 1-5',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT 'Creation timestamp',
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_response_aspect` (`response_id`,`aspect_id`),
  KEY `idx_ratings_aspect` (`aspect_id`),
  KEY `idx_ratings_score` (`score`),
  KEY `idx_ratings_aspect_score` (`aspect_id`,`score`),
  CONSTRAINT `evaluation_response_ratings_ibfk_1` FOREIGN KEY (`response_id`) REFERENCES `evaluation_responses` (`id`) ON DELETE CASCADE,
  CONSTRAINT `evaluation_response_ratings_ibfk_2` FOREIGN KEY (`aspect_id`) REFERENCES `evaluation_aspects` (`id`),
  CONSTRAINT `check_rating_score` CHECK (`score` >= 1 and `score` <= 5)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Per-aspect rating values for each response';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluation_response_ratings`
--

LOCK TABLES `evaluation_response_ratings` WRITE;
/*!40000 ALTER TABLE `evaluation_response_ratings` DISABLE KEYS */;
/*!40000 ALTER TABLE `evaluation_response_ratings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluation_responses`
--

DROP TABLE IF EXISTS `evaluation_responses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evaluation_responses` (
  `id` varchar(36) NOT NULL COMMENT 'UUID-like id',
  `evaluation_id` varchar(36) NOT NULL COMMENT 'FK to evaluations',
  `invitation_id` varchar(36) NOT NULL COMMENT 'FK to evaluation_invitations',
  `student_id` varchar(36) NOT NULL COMMENT 'FK to students',
  `company_name` varchar(255) NOT NULL COMMENT 'Company name',
  `company_address` text NOT NULL COMMENT 'Company address',
  `employee_name` varchar(255) NOT NULL COMMENT 'Employee being evaluated',
  `graduation_year` int(11) NOT NULL COMMENT 'Graduation year of employee',
  `study_program` varchar(150) NOT NULL COMMENT 'Study program',
  `current_work_division` varchar(255) NOT NULL COMMENT 'Current work division/field',
  `major_job_match` enum('ya','tidak') NOT NULL COMMENT 'Is major relevant to current work',
  `submitted_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT 'Response submission timestamp',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT 'Creation timestamp',
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_response_invitation` (`invitation_id`),
  UNIQUE KEY `unique_response_evaluation_student` (`evaluation_id`,`student_id`),
  KEY `idx_responses_evaluation` (`evaluation_id`),
  KEY `idx_responses_student` (`student_id`),
  KEY `idx_responses_match` (`major_job_match`),
  KEY `idx_responses_submitted` (`submitted_at`),
  KEY `idx_responses_eval_match` (`evaluation_id`,`major_job_match`),
  CONSTRAINT `evaluation_responses_ibfk_1` FOREIGN KEY (`evaluation_id`) REFERENCES `evaluations` (`id`) ON DELETE CASCADE,
  CONSTRAINT `evaluation_responses_ibfk_2` FOREIGN KEY (`invitation_id`) REFERENCES `evaluation_invitations` (`id`),
  CONSTRAINT `evaluation_responses_ibfk_3` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Survey response header data';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluation_responses`
--

LOCK TABLES `evaluation_responses` WRITE;
/*!40000 ALTER TABLE `evaluation_responses` DISABLE KEYS */;
/*!40000 ALTER TABLE `evaluation_responses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluations`
--

DROP TABLE IF EXISTS `evaluations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `evaluations` (
  `id` varchar(36) NOT NULL COMMENT 'UUID-like id',
  `title` varchar(255) NOT NULL COMMENT 'Evaluation title',
  `short_message` varchar(500) DEFAULT NULL COMMENT 'Short notification message',
  `status` enum('active','closed') NOT NULL DEFAULT 'active' COMMENT 'Evaluation lifecycle status',
  `start_at` datetime NOT NULL COMMENT 'Evaluation start date-time',
  `end_at` datetime DEFAULT NULL COMMENT 'Evaluation end date-time',
  `reminder_enabled` tinyint(1) DEFAULT 1 COMMENT 'Enable automatic reminder',
  `reminder_interval_days` int(11) NOT NULL DEFAULT 7 COMMENT 'Auto reminder interval in days',
  `created_by` varchar(36) NOT NULL COMMENT 'FK to users (admin creator)',
  `closed_by` varchar(36) DEFAULT NULL COMMENT 'FK to users (admin closer)',
  `closed_at` timestamp NULL DEFAULT NULL COMMENT 'Closed timestamp',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT 'Creation timestamp',
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT 'Last update timestamp',
  PRIMARY KEY (`id`),
  KEY `closed_by` (`closed_by`),
  KEY `idx_evaluations_status` (`status`),
  KEY `idx_evaluations_period` (`start_at`,`end_at`),
  KEY `idx_evaluations_creator` (`created_by`),
  CONSTRAINT `evaluations_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`),
  CONSTRAINT `evaluations_ibfk_2` FOREIGN KEY (`closed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `check_evaluation_period` CHECK (`end_at` is null or `end_at` >= `start_at`),
  CONSTRAINT `check_reminder_days` CHECK (`reminder_interval_days` >= 1 and `reminder_interval_days` <= 365)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Graduate evaluation campaigns';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluations`
--

LOCK TABLES `evaluations` WRITE;
/*!40000 ALTER TABLE `evaluations` DISABLE KEYS */;
INSERT INTO `evaluations` VALUES ('00af18f73bad03872cbca421f7471e414d84','percobaan 1','mohon isi survey','active','2026-02-21 13:10:00',NULL,1,7,'admin-001',NULL,NULL,'2026-02-21 06:10:31','2026-02-21 06:10:31'),('demo26-ev-1','Evaluasi Lulusan Demo 2026','Mohon isi evaluasi demo untuk validasi dashboard.','active','2026-02-01 08:00:00',NULL,1,7,'admin-001',NULL,NULL,'2026-02-21 13:37:13','2026-02-21 13:37:13');
/*!40000 ALTER TABLE `evaluations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `export_logs`
--

DROP TABLE IF EXISTS `export_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `export_logs` (
  `id` varchar(36) NOT NULL COMMENT 'UUID',
  `admin_id` varchar(36) NOT NULL COMMENT 'FK users.id',
  `menu_section` varchar(80) NOT NULL,
  `format` enum('csv','xlsx','pdf') NOT NULL,
  `filters` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'e.g. {"year": 2024}' CHECK (json_valid(`filters`)),
  `exported_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT 'Asia/Jakarta',
  PRIMARY KEY (`id`),
  KEY `idx_admin` (`admin_id`),
  KEY `idx_menu_section` (`menu_section`),
  KEY `idx_exported_at` (`exported_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Export audit log';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `export_logs`
--

LOCK TABLES `export_logs` WRITE;
/*!40000 ALTER TABLE `export_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `export_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `menu_active_students_records`
--

DROP TABLE IF EXISTS `menu_active_students_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `menu_active_students_records` (
  `id` varchar(36) NOT NULL,
  `source_table` varchar(64) NOT NULL DEFAULT 'students',
  `source_id` varchar(36) NOT NULL,
  `snapshot_nim` varchar(20) NOT NULL,
  `snapshot_nama` varchar(100) NOT NULL,
  `snapshot_prodi` varchar(100) NOT NULL,
  `snapshot_fakultas` varchar(100) NOT NULL,
  `tahun_pelaporan` int(11) NOT NULL,
  `payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`payload`)),
  `included_in_chart` tinyint(1) NOT NULL DEFAULT 1,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_source` (`source_table`,`source_id`),
  KEY `idx_deleted` (`deleted_at`),
  KEY `idx_tahun` (`tahun_pelaporan`),
  KEY `idx_included_in_chart` (`included_in_chart`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menu_active_students_records`
--

LOCK TABLES `menu_active_students_records` WRITE;
/*!40000 ALTER TABLE `menu_active_students_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `menu_active_students_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `menu_job_relevance_records`
--

DROP TABLE IF EXISTS `menu_job_relevance_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `menu_job_relevance_records` (
  `id` varchar(36) NOT NULL,
  `source_table` varchar(64) NOT NULL DEFAULT 'tracer_study',
  `source_id` varchar(36) NOT NULL,
  `snapshot_nim` varchar(20) NOT NULL,
  `snapshot_nama` varchar(100) NOT NULL,
  `snapshot_prodi` varchar(100) NOT NULL,
  `snapshot_fakultas` varchar(100) NOT NULL,
  `tahun_pelaporan` int(11) NOT NULL,
  `payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`payload`)),
  `included_in_chart` tinyint(1) NOT NULL DEFAULT 1,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_source` (`source_table`,`source_id`),
  KEY `idx_deleted` (`deleted_at`),
  KEY `idx_tahun` (`tahun_pelaporan`),
  KEY `idx_included_in_chart` (`included_in_chart`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menu_job_relevance_records`
--

LOCK TABLES `menu_job_relevance_records` WRITE;
/*!40000 ALTER TABLE `menu_job_relevance_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `menu_job_relevance_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `menu_publications_records`
--

DROP TABLE IF EXISTS `menu_publications_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `menu_publications_records` (
  `id` varchar(36) NOT NULL,
  `source_table` varchar(64) NOT NULL DEFAULT 'achievements',
  `source_id` varchar(36) NOT NULL,
  `snapshot_nim` varchar(20) NOT NULL,
  `snapshot_nama` varchar(100) NOT NULL,
  `snapshot_prodi` varchar(100) NOT NULL,
  `snapshot_fakultas` varchar(100) NOT NULL,
  `tahun_pelaporan` int(11) NOT NULL,
  `payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`payload`)),
  `included_in_chart` tinyint(1) NOT NULL DEFAULT 1,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_source` (`source_table`,`source_id`),
  KEY `idx_deleted` (`deleted_at`),
  KEY `idx_tahun` (`tahun_pelaporan`),
  KEY `idx_included_in_chart` (`included_in_chart`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menu_publications_records`
--

LOCK TABLES `menu_publications_records` WRITE;
/*!40000 ALTER TABLE `menu_publications_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `menu_publications_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `menu_research_outputs_records`
--

DROP TABLE IF EXISTS `menu_research_outputs_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `menu_research_outputs_records` (
  `id` varchar(36) NOT NULL,
  `source_table` varchar(64) NOT NULL DEFAULT 'achievements',
  `source_id` varchar(36) NOT NULL,
  `snapshot_nim` varchar(20) NOT NULL,
  `snapshot_nama` varchar(100) NOT NULL,
  `snapshot_prodi` varchar(100) NOT NULL,
  `snapshot_fakultas` varchar(100) NOT NULL,
  `tahun_pelaporan` int(11) NOT NULL,
  `payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`payload`)),
  `included_in_chart` tinyint(1) NOT NULL DEFAULT 1,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_source` (`source_table`,`source_id`),
  KEY `idx_deleted` (`deleted_at`),
  KEY `idx_tahun` (`tahun_pelaporan`),
  KEY `idx_included_in_chart` (`included_in_chart`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menu_research_outputs_records`
--

LOCK TABLES `menu_research_outputs_records` WRITE;
/*!40000 ALTER TABLE `menu_research_outputs_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `menu_research_outputs_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `menu_student_achievements_records`
--

DROP TABLE IF EXISTS `menu_student_achievements_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `menu_student_achievements_records` (
  `id` varchar(36) NOT NULL,
  `source_table` varchar(64) NOT NULL DEFAULT 'achievements',
  `source_id` varchar(36) NOT NULL COMMENT 'achievements.id',
  `snapshot_nim` varchar(20) NOT NULL,
  `snapshot_nama` varchar(100) NOT NULL,
  `snapshot_prodi` varchar(100) NOT NULL,
  `snapshot_fakultas` varchar(100) NOT NULL,
  `tahun_pelaporan` int(11) NOT NULL COMMENT 'Year for reporting',
  `payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL COMMENT 'Chart/export data snapshot' CHECK (json_valid(`payload`)),
  `included_in_chart` tinyint(1) NOT NULL DEFAULT 1,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_source` (`source_table`,`source_id`),
  KEY `idx_deleted` (`deleted_at`),
  KEY `idx_tahun` (`tahun_pelaporan`),
  KEY `idx_snapshot_nim` (`snapshot_nim`),
  KEY `idx_included_in_chart` (`included_in_chart`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menu_student_achievements_records`
--

LOCK TABLES `menu_student_achievements_records` WRITE;
/*!40000 ALTER TABLE `menu_student_achievements_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `menu_student_achievements_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `menu_student_products_records`
--

DROP TABLE IF EXISTS `menu_student_products_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `menu_student_products_records` (
  `id` varchar(36) NOT NULL,
  `source_table` varchar(64) NOT NULL DEFAULT 'achievements',
  `source_id` varchar(36) NOT NULL,
  `snapshot_nim` varchar(20) NOT NULL,
  `snapshot_nama` varchar(100) NOT NULL,
  `snapshot_prodi` varchar(100) NOT NULL,
  `snapshot_fakultas` varchar(100) NOT NULL,
  `tahun_pelaporan` int(11) NOT NULL,
  `payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`payload`)),
  `included_in_chart` tinyint(1) NOT NULL DEFAULT 1,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_source` (`source_table`,`source_id`),
  KEY `idx_deleted` (`deleted_at`),
  KEY `idx_tahun` (`tahun_pelaporan`),
  KEY `idx_included_in_chart` (`included_in_chart`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menu_student_products_records`
--

LOCK TABLES `menu_student_products_records` WRITE;
/*!40000 ALTER TABLE `menu_student_products_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `menu_student_products_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `menu_study_period_records`
--

DROP TABLE IF EXISTS `menu_study_period_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `menu_study_period_records` (
  `id` varchar(36) NOT NULL,
  `source_table` varchar(64) NOT NULL DEFAULT 'students',
  `source_id` varchar(36) NOT NULL,
  `snapshot_nim` varchar(20) NOT NULL,
  `snapshot_nama` varchar(100) NOT NULL,
  `snapshot_prodi` varchar(100) NOT NULL,
  `snapshot_fakultas` varchar(100) NOT NULL,
  `tahun_pelaporan` int(11) NOT NULL,
  `payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`payload`)),
  `included_in_chart` tinyint(1) NOT NULL DEFAULT 1,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_source` (`source_table`,`source_id`),
  KEY `idx_deleted` (`deleted_at`),
  KEY `idx_tahun` (`tahun_pelaporan`),
  KEY `idx_included_in_chart` (`included_in_chart`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menu_study_period_records`
--

LOCK TABLES `menu_study_period_records` WRITE;
/*!40000 ALTER TABLE `menu_study_period_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `menu_study_period_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `menu_user_satisfaction_records`
--

DROP TABLE IF EXISTS `menu_user_satisfaction_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `menu_user_satisfaction_records` (
  `id` varchar(36) NOT NULL,
  `source_table` varchar(64) NOT NULL DEFAULT 'evaluation_responses',
  `source_id` varchar(36) NOT NULL,
  `snapshot_nim` varchar(20) NOT NULL,
  `snapshot_nama` varchar(100) NOT NULL,
  `snapshot_prodi` varchar(100) NOT NULL,
  `snapshot_fakultas` varchar(100) NOT NULL,
  `tahun_pelaporan` int(11) NOT NULL,
  `payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`payload`)),
  `included_in_chart` tinyint(1) NOT NULL DEFAULT 1,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_source` (`source_table`,`source_id`),
  KEY `idx_deleted` (`deleted_at`),
  KEY `idx_tahun` (`tahun_pelaporan`),
  KEY `idx_included_in_chart` (`included_in_chart`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menu_user_satisfaction_records`
--

LOCK TABLES `menu_user_satisfaction_records` WRITE;
/*!40000 ALTER TABLE `menu_user_satisfaction_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `menu_user_satisfaction_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `menu_waiting_time_records`
--

DROP TABLE IF EXISTS `menu_waiting_time_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `menu_waiting_time_records` (
  `id` varchar(36) NOT NULL,
  `source_table` varchar(64) NOT NULL DEFAULT 'tracer_study',
  `source_id` varchar(36) NOT NULL,
  `snapshot_nim` varchar(20) NOT NULL,
  `snapshot_nama` varchar(100) NOT NULL,
  `snapshot_prodi` varchar(100) NOT NULL,
  `snapshot_fakultas` varchar(100) NOT NULL,
  `tahun_pelaporan` int(11) NOT NULL,
  `payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`payload`)),
  `included_in_chart` tinyint(1) NOT NULL DEFAULT 1,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_source` (`source_table`,`source_id`),
  KEY `idx_deleted` (`deleted_at`),
  KEY `idx_tahun` (`tahun_pelaporan`),
  KEY `idx_included_in_chart` (`included_in_chart`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menu_waiting_time_records`
--

LOCK TABLES `menu_waiting_time_records` WRITE;
/*!40000 ALTER TABLE `menu_waiting_time_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `menu_waiting_time_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `menu_work_coverage_records`
--

DROP TABLE IF EXISTS `menu_work_coverage_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `menu_work_coverage_records` (
  `id` varchar(36) NOT NULL,
  `source_table` varchar(64) NOT NULL DEFAULT 'tracer_study',
  `source_id` varchar(36) NOT NULL,
  `snapshot_nim` varchar(20) NOT NULL,
  `snapshot_nama` varchar(100) NOT NULL,
  `snapshot_prodi` varchar(100) NOT NULL,
  `snapshot_fakultas` varchar(100) NOT NULL,
  `tahun_pelaporan` int(11) NOT NULL,
  `payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`payload`)),
  `included_in_chart` tinyint(1) NOT NULL DEFAULT 1,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_source` (`source_table`,`source_id`),
  KEY `idx_deleted` (`deleted_at`),
  KEY `idx_tahun` (`tahun_pelaporan`),
  KEY `idx_included_in_chart` (`included_in_chart`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menu_work_coverage_records`
--

LOCK TABLES `menu_work_coverage_records` WRITE;
/*!40000 ALTER TABLE `menu_work_coverage_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `menu_work_coverage_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `record_change_logs`
--

DROP TABLE IF EXISTS `record_change_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `record_change_logs` (
  `id` varchar(36) NOT NULL COMMENT 'UUID',
  `menu_section` varchar(80) NOT NULL COMMENT 'Section id',
  `record_id` varchar(36) NOT NULL COMMENT 'PK of menu_*_records row',
  `action` enum('created','updated','deleted','recovered','permanent_deleted') NOT NULL,
  `admin_id` varchar(36) NOT NULL COMMENT 'FK users.id',
  `changed_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT 'Asia/Jakarta',
  `old_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Snapshot before change' CHECK (json_valid(`old_data`)),
  `new_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Snapshot after change' CHECK (json_valid(`new_data`)),
  PRIMARY KEY (`id`),
  KEY `idx_menu_section` (`menu_section`),
  KEY `idx_record` (`menu_section`,`record_id`),
  KEY `idx_admin` (`admin_id`),
  KEY `idx_changed_at` (`changed_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Audit trail for chart record changes';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `record_change_logs`
--

LOCK TABLES `record_change_logs` WRITE;
/*!40000 ALTER TABLE `record_change_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `record_change_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_notifications`
--

DROP TABLE IF EXISTS `student_notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_notifications` (
  `id` varchar(36) NOT NULL COMMENT 'UUID-like id',
  `student_id` varchar(36) NOT NULL COMMENT 'FK to students',
  `evaluation_id` varchar(36) DEFAULT NULL COMMENT 'FK to evaluations (nullable)',
  `invitation_id` varchar(36) DEFAULT NULL COMMENT 'FK to evaluation_invitations (nullable)',
  `type` enum('invitation','reminder') NOT NULL COMMENT 'Notification type',
  `title` varchar(255) NOT NULL COMMENT 'Notification title',
  `message` varchar(500) NOT NULL COMMENT 'Notification message',
  `link_path` varchar(500) NOT NULL COMMENT 'Frontend route/path with token',
  `is_read` tinyint(1) DEFAULT 0 COMMENT 'Read status',
  `read_at` timestamp NULL DEFAULT NULL COMMENT 'Read timestamp',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT 'Creation timestamp',
  PRIMARY KEY (`id`),
  KEY `invitation_id` (`invitation_id`),
  KEY `idx_notifications_student` (`student_id`),
  KEY `idx_notifications_read` (`student_id`,`is_read`),
  KEY `idx_notifications_created` (`created_at`),
  KEY `idx_notifications_evaluation` (`evaluation_id`),
  CONSTRAINT `student_notifications_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`) ON DELETE CASCADE,
  CONSTRAINT `student_notifications_ibfk_2` FOREIGN KEY (`evaluation_id`) REFERENCES `evaluations` (`id`) ON DELETE SET NULL,
  CONSTRAINT `student_notifications_ibfk_3` FOREIGN KEY (`invitation_id`) REFERENCES `evaluation_invitations` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='In-app notification storage for students';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_notifications`
--

LOCK TABLES `student_notifications` WRITE;
/*!40000 ALTER TABLE `student_notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `students`
--

DROP TABLE IF EXISTS `students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `students` (
  `id` varchar(36) NOT NULL COMMENT 'UUID v4',
  `nim` varchar(20) NOT NULL COMMENT 'Student ID number',
  `nama` varchar(100) NOT NULL COMMENT 'Full name',
  `jurusan` varchar(50) NOT NULL DEFAULT 'Administrasi Bisnis' COMMENT 'Department',
  `prodi` varchar(100) NOT NULL DEFAULT 'Administrasi Bisnis Terapan' COMMENT 'Study Program',
  `status` enum('active','on_leave','dropout','alumni') NOT NULL DEFAULT 'active' COMMENT 'Student status',
  `tahun_masuk` int(11) NOT NULL COMMENT 'Year of enrollment',
  `tahun_lulus` int(11) DEFAULT NULL COMMENT 'Year of graduation (NULL if not alumni)',
  `email` varchar(100) DEFAULT NULL COMMENT 'Email address',
  `no_hp` varchar(20) DEFAULT NULL COMMENT 'Phone number',
  `alamat` text DEFAULT NULL COMMENT 'Address',
  `user_id` varchar(36) DEFAULT NULL COMMENT 'FK to users table',
  `has_credentials` tinyint(1) DEFAULT 0 COMMENT 'Has login account',
  `last_login` timestamp NULL DEFAULT NULL COMMENT 'Last login',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT 'Record creation',
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT 'Last update',
  PRIMARY KEY (`id`),
  UNIQUE KEY `nim` (`nim`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `idx_nim` (`nim`),
  KEY `idx_status` (`status`),
  KEY `idx_tahun_lulus` (`tahun_lulus`),
  KEY `idx_email` (`email`),
  KEY `idx_status_tahun` (`status`,`tahun_lulus`),
  KEY `idx_students_status_tahun` (`status`,`tahun_lulus`),
  CONSTRAINT `students_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `check_tahun_lulus` CHECK (`tahun_lulus` is null or `tahun_lulus` >= `tahun_masuk`),
  CONSTRAINT `check_tahun_masuk` CHECK (`tahun_masuk` > 1900 and `tahun_masuk` < 2100)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Central student profile hub';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `students`
--

LOCK TABLES `students` WRITE;
/*!40000 ALTER TABLE `students` DISABLE KEYS */;
/*!40000 ALTER TABLE `students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tracer_study`
--

DROP TABLE IF EXISTS `tracer_study`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tracer_study` (
  `id` varchar(36) NOT NULL COMMENT 'UUID v4',
  `student_id` varchar(36) NOT NULL COMMENT 'FK to students (UNIQUE - one per student)',
  `email` varchar(100) NOT NULL COMMENT 'Contact email',
  `no_hp` varchar(20) NOT NULL COMMENT 'Phone number',
  `media_sosial` varchar(255) DEFAULT NULL COMMENT 'Social media handle',
  `linkedin` varchar(255) DEFAULT NULL COMMENT 'LinkedIn URL',
  `career_status` enum('working','job_seeking','entrepreneur','further_study') NOT NULL COMMENT 'Career status',
  `tahun_pengisian` int(11) NOT NULL COMMENT 'Year of submission',
  `employment_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Employment details (career_status = working)' CHECK (json_valid(`employment_data`)),
  `job_seeking_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Job seeking details (career_status = job_seeking)' CHECK (json_valid(`job_seeking_data`)),
  `entrepreneurship_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Business details (career_status = entrepreneur)' CHECK (json_valid(`entrepreneurship_data`)),
  `further_study_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Further study details (career_status = further_study)' CHECK (json_valid(`further_study_data`)),
  `ringkasan_karir` text DEFAULT NULL COMMENT 'Career summary',
  `bersedia_dihubungi` tinyint(1) DEFAULT 0 COMMENT 'Willing to be contacted',
  `saran_komentar` text DEFAULT NULL COMMENT 'Suggestions/comments',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT 'Submission date',
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT 'Last update',
  PRIMARY KEY (`id`),
  UNIQUE KEY `student_id` (`student_id`),
  KEY `idx_career_status` (`career_status`),
  KEY `idx_tahun_pengisian` (`tahun_pengisian`),
  KEY `idx_student_id` (`student_id`),
  KEY `idx_tracer_tahun` (`tahun_pengisian`),
  CONSTRAINT `tracer_study_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `students` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Alumni career tracking (tracer study)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tracer_study`
--

LOCK TABLES `tracer_study` WRITE;
/*!40000 ALTER TABLE `tracer_study` DISABLE KEYS */;
/*!40000 ALTER TABLE `tracer_study` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` varchar(36) NOT NULL COMMENT 'UUID v4',
  `username` varchar(50) NOT NULL COMMENT 'Login username (admin or NIM)',
  `password_hash` varchar(255) NOT NULL COMMENT 'Bcrypt hashed password',
  `nama` varchar(100) NOT NULL COMMENT 'Full name',
  `role` enum('admin','student') NOT NULL DEFAULT 'student' COMMENT 'User role',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() COMMENT 'Account creation date',
  `last_login` timestamp NULL DEFAULT NULL COMMENT 'Last login timestamp',
  `is_active` tinyint(1) DEFAULT 1 COMMENT 'Account status',
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  KEY `idx_username` (`username`),
  KEY `idx_role` (`role`),
  KEY `idx_created_at` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Unified authentication table for admins and students';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `v_alumni_overview`
--

DROP TABLE IF EXISTS `v_alumni_overview`;
/*!50001 DROP VIEW IF EXISTS `v_alumni_overview`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_alumni_overview` AS SELECT
 1 AS `id`,
  1 AS `nim`,
  1 AS `nama`,
  1 AS `tahun_lulus`,
  1 AS `email`,
  1 AS `no_hp`,
  1 AS `career_status`,
  1 AS `tahun_pengisian`,
  1 AS `total_achievements` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `v_student_achievements_summary`
--

DROP TABLE IF EXISTS `v_student_achievements_summary`;
/*!50001 DROP VIEW IF EXISTS `v_student_achievements_summary`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `v_student_achievements_summary` AS SELECT
 1 AS `id`,
  1 AS `nim`,
  1 AS `nama`,
  1 AS `status`,
  1 AS `total_achievements`,
  1 AS `total_categories`,
  1 AS `verified_achievements`,
  1 AS `latest_achievement_date` */;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `v_alumni_overview`
--

/*!50001 DROP VIEW IF EXISTS `v_alumni_overview`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_alumni_overview` AS select `s`.`id` AS `id`,`s`.`nim` AS `nim`,`s`.`nama` AS `nama`,`s`.`tahun_lulus` AS `tahun_lulus`,`s`.`email` AS `email`,`s`.`no_hp` AS `no_hp`,`t`.`career_status` AS `career_status`,`t`.`tahun_pengisian` AS `tahun_pengisian`,count(distinct `a`.`id`) AS `total_achievements` from ((`students` `s` left join `tracer_study` `t` on(`s`.`id` = `t`.`student_id`)) left join `achievements` `a` on(`s`.`id` = `a`.`student_id`)) where `s`.`status` = 'alumni' group by `s`.`id`,`s`.`nim`,`s`.`nama`,`s`.`tahun_lulus`,`s`.`email`,`s`.`no_hp`,`t`.`career_status`,`t`.`tahun_pengisian` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_student_achievements_summary`
--

/*!50001 DROP VIEW IF EXISTS `v_student_achievements_summary`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_student_achievements_summary` AS select `s`.`id` AS `id`,`s`.`nim` AS `nim`,`s`.`nama` AS `nama`,`s`.`status` AS `status`,count(`a`.`id`) AS `total_achievements`,count(distinct `a`.`category`) AS `total_categories`,count(case when `a`.`verified` = 1 then 1 else NULL end) AS `verified_achievements`,max(`a`.`tanggal`) AS `latest_achievement_date` from (`students` `s` left join `achievements` `a` on(`s`.`id` = `a`.`student_id`)) group by `s`.`id`,`s`.`nim`,`s`.`nama`,`s`.`status` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-24  4:23:12
